body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.selector {
	color: green;
	font-size: 24;
	text-align: center;
	padding: 20px 100px;
}

.loading {
	color: orange;
}

.car-information {
	text-align: center;
	
}